html{
    background-color:skyblue;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    line-height: 30px;
    background-position: center;
}
.biggerSize {
	font-size: 20px;
    color: red;/*color by name*/
    font-family:fantasy;

}
#text-title{
    
    /* color:hsl(39, 100%, 40%);color by hsl */
    color: green;
    font-weight: 900;
}
 #text-title2{
    color: rgb(0, 0, 250);/*color by rgb*/
    font-weight: 700;
}
 #text-title3{
    color: rgba(189, 22, 16, 0.6);/*color by rgba*/
    text-decoration: underline;
}

 .date{
    font-size: 30px;
    /* color: hsla(2, 29, 50%, 0.9); */
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#info-div{
    color: #ffff05;
    font-size: 20px;
}
footer{
    color: black;
    font-size: 18px;
    background-image: url(https://img.freepik.com/premium-vector/khmer-background-footer_598438-722.jpg?w=2000);

}
#div-pic{
    background-color: black;
  
}

